/* Move to dkan global stylesheet*/
.file-widget input.btn {
	margin-left: 10px;
}
/* Move to dkan global stylesheet*/

.field-name-field-ve-settings {
  display: none;
}
#chart-with-controls .tab-content {
  overflow: hidden;
}
#iframe-shell {
  overflow: hidden;
}
svg {
  width: auto;
  height: auto;
  display: block;
}

#ve-chart-form .pane-content{
  overflow: auto;
}

#ve-chart-form .stages li {
  width: 25%;
}

.nvtooltip table * {
  border: none;
}