.col-sm-9,
.ve-chart-right {
  float: left;
  width: 75%;
}
.col-sm-3,
.ve-chart-left {
  float: left;
  width: 25%;
}
.col-sm-12 {
  clear: both;
}
.region-content #eck-entity-form-edit-visualization-ve-chart ul {
  padding-left: 0;
}
.field-name-field-ve-settings {
  display: none;
}
#chart-with-controls .tab-content {
  overflow: hidden;
}
#iframe-shell {
  overflow: hidden;
}
svg {
  width: auto;
  height: auto;
  position: relative;
}
